Setting up the env, important to set the default type to futures

In [1]:

import pandas as pd
from ccxt import binance as binance_sync
from ccxt.pro import binance as binance_pro
from datetime import datetime

proxies = {}
# Initialize exchange instances
binance_exchange = binance_sync({
                'proxies': proxies,
                'sandbox': False,  # 使用实盘数据
                'enableRateLimit': True,
                'options': {
                    'defaultType': 'future',  # 使用期货市场
                }
            })
binance_live  = binance_pro({
                'proxies': proxies,
                'sandbox': False,  # 使用实盘数据
                'enableRateLimit': True,
                'options': {
                    'defaultType': 'future',  # 使用期货市场
                }
            })

perp = "ETH-USDT-PERP"
base = perp.split('-')[0]
perp = f"{base}/USDT"

limit = 1000
target_date = datetime(2025, 9, 13)  # September 11, 2025
timestamp = int(target_date.timestamp() * 1000)  
timeframe = "1m"
# Historical

In [2]:
import asyncio
from datetime import datetime

def convert_ohlcv_timestamps(ohlcv_data):
    """Convert OHLCV data timestamps to readable datetime format"""
    converted_data = []
    for candle in ohlcv_data:
        # Convert timestamp (first element) from milliseconds to datetime
        timestamp_ms = candle[0]
        dt = datetime.fromtimestamp(timestamp_ms / 1000)
        # Replace timestamp with readable datetime string
        converted_candle = [dt.strftime('%Y-%m-%d %H:%M:%S')] + candle[1:]
        converted_data.append(converted_candle)
    return converted_data

Historical Closes

In [3]:
ohlcv = binance_exchange.fetch_ohlcv(perp, timeframe, since=timestamp, limit=1000)
print("Historical data (first 5 candles):")
ohlcv_converted = convert_ohlcv_timestamps(ohlcv)
for i, candle in enumerate(ohlcv_converted[:5]):
    print(f"Candle {i+1}: {candle}")
print(f"... and {len(ohlcv_converted)-5} more candles")

Historical data (first 5 candles):
Candle 1: ['2025-09-13 00:00:00', 4693.35, 4695.21, 4691.0, 4691.01, 1652.423]
Candle 2: ['2025-09-13 00:01:00', 4691.0, 4692.4, 4689.68, 4689.68, 1841.625]
Candle 3: ['2025-09-13 00:02:00', 4689.66, 4690.0, 4688.58, 4688.91, 3936.343]
Candle 4: ['2025-09-13 00:03:00', 4688.92, 4690.0, 4687.75, 4687.76, 2606.01]
Candle 5: ['2025-09-13 00:04:00', 4687.76, 4688.09, 4686.05, 4686.31, 1499.675]
... and 995 more candles

We can read orderbook at any point

In [4]:
orderbook = binance_exchange.fetch_order_book(perp)
timestamp = orderbook['timestamp']
bids_df = pd.DataFrame(orderbook['bids'], columns=['Price', 'Amount']).sort_values(by='Price', ascending=False)
asks_df = pd.DataFrame(orderbook['asks'], columns=['Price', 'Amount']).sort_values(by='Price', ascending=True)
bids_df.head()
asks_df.head()

     Price   Amount
0  4621.12  457.255
1  4621.13    0.012
2  4621.14    0.026
3  4621.16    0.330
4  4621.19    8.000

Historical Trades - There is a delay

In [5]:
trades = binance_exchange.fetch_trades(perp, limit=1000)
trades_df = pd.DataFrame(trades, columns=['timestamp', 'price', 'amount', 'side'])

# Convert timestamp to readable datetime
trades_df['datetime'] = pd.to_datetime(trades_df['timestamp'], unit='ms')

# Select key columns for analysis
key_columns = ['datetime', 'side', 'price', 'amount']
trades_df = trades_df[key_columns]

# Sort by timestamp
trades_df = trades_df.sort_values(by='datetime')

trades_df.head()

                 datetime  side    price  amount
0 2025-09-14 14:07:48.594  sell  4618.53   1.796
1 2025-09-14 14:07:48.594  sell  4618.52   0.100
2 2025-09-14 14:07:48.597  sell  4618.49   0.046
3 2025-09-14 14:07:48.597  sell  4618.48   0.010
4 2025-09-14 14:07:48.597  sell  4618.46   2.501

Funding Rates - pay attention to the notation of the symbol, that it is a perp

In [6]:
recent_timestamp = int((datetime.now().timestamp() - 7*24*3600) * 1000)
funding_rates = binance_exchange.fetch_funding_rate_history("ETH/USDT:USDT", since=recent_timestamp, limit=100)
funding_rates_df = pd.DataFrame(funding_rates)
funding_rates_df['timestamp'] = pd.to_datetime(funding_rates_df['timestamp'], unit='ms')
funding_rates_df['mark_price'] = funding_rates_df['info'].apply(lambda x: float(x['markPrice']))
key_columns = ['timestamp', 'fundingRate', 'mark_price', "symbol"]
funding_clean = funding_rates_df[key_columns]
funding_clean

                 timestamp  fundingRate   mark_price         symbol
0  2025-09-07 16:00:00.000     0.000033  4297.205047  ETH/USDT:USDT
1  2025-09-08 00:00:00.007     0.000026  4304.153891  ETH/USDT:USDT
2  2025-09-08 08:00:00.000     0.000021  4289.820000  ETH/USDT:USDT
3  2025-09-08 16:00:00.000     0.000091  4369.830000  ETH/USDT:USDT
4  2025-09-09 00:00:00.000     0.000047  4303.986659  ETH/USDT:USDT
5  2025-09-09 08:00:00.000     0.000100  4360.430000  ETH/USDT:USDT
6  2025-09-09 16:00:00.000     0.000066  4282.783357  ETH/USDT:USDT
7  2025-09-10 00:00:00.000     0.000062  4308.552543  ETH/USDT:USDT
8  2025-09-10 08:00:00.002     0.000088  4327.973539  ETH/USDT:USDT
9  2025-09-10 16:00:00.000     0.000100  4403.500000  ETH/USDT:USDT
10 2025-09-11 00:00:00.000     0.000013  4347.830000  ETH/USDT:USDT
11 2025-09-11 08:00:00.000     0.000100  4439.000000  ETH/USDT:USDT
12 2025-09-11 16:00:00.001     0.000085  4410.410000  ETH/USDT:USDT
13 2025-09-12 00:00:00.002     0.000049  4456.917655  ETH/USDT:USDT
14 2025-09-12 08:00:00.001     0.000100  4524.390000  ETH/USDT:USDT
15 2025-09-12 16:00:00.005     0.000100  4540.160000  ETH/USDT:USDT
16 2025-09-13 00:00:00.005     0.000100  4710.929407  ETH/USDT:USDT
17 2025-09-13 08:00:00.002     0.000098  4709.885930  ETH/USDT:USDT
18 2025-09-13 16:00:00.000     0.000100  4651.440000  ETH/USDT:USDT
19 2025-09-14 00:00:00.006     0.000004  4664.466329  ETH/USDT:USDT
20 2025-09-14 08:00:00.000     0.000083  4648.800000  ETH/USDT:USDT

Open Interest - the amount of derivates on the market

In [7]:

open_interest = binance_exchange.fetch_open_interest(perp)
open_interest

{'symbol': 'ETH/USDT:USDT',
 'baseVolume': 1988298.744,
 'quoteVolume': None,
 'openInterestAmount': 1988298.744,
 'openInterestValue': None,
 'timestamp': 1757858903848,
 'datetime': '2025-09-14T14:08:23.848Z',
 'info': {'symbol': 'ETHUSDT',
  'openInterest': '1988298.744',
  'time': '1757858903848'}}

Watch ticker - Provides latest info on prices - probably better for risk management

In [8]:
watch_ticker =await binance_live.watch_ticker(perp)
# Create DataFrame
ticker_df = pd.DataFrame([watch_ticker])

# Convert timestamp to readable datetime
ticker_df['datetime_readable'] = pd.to_datetime(ticker_df['timestamp'], unit='ms')

# Select and rename key columns
key_columns = ['datetime_readable', 'symbol', 'open', 'high', 'low', 'close', 'last', 'change', 'percentage', 'baseVolume', 'quoteVolume', 'vwap']
ticker_clean = ticker_df[key_columns].copy()

print("Ticker data:")
print(ticker_clean)

Ticker data:
        datetime_readable         symbol    open     high     low    close  \
0 2025-09-14 14:08:39.693  ETH/USDT:USDT  4674.0  4707.19  4603.0  4626.94

      last  change  percentage   baseVolume   quoteVolume     vwap
0  4626.94  -47.06      -1.007  2689908.817  1.250676e+10  4649.51

Live Order Book

In [9]:
watch_order_book = await binance_live.watch_order_book(perp)
watch_order_book_df = pd.DataFrame(watch_order_book, columns=['timestamp', 'bids', 'asks'])
watch_order_book_df.head()

       timestamp               bids              asks
0  1757858921413  [4628.98, 443.06]  [4628.99, 5.703]
1  1757858921413    [4628.97, 8.64]  [4629.0, 22.356]
2  1757858921413   [4628.96, 2.162]  [4629.01, 0.118]
3  1757858921413  [4628.94, 46.954]  [4629.02, 0.026]
4  1757858921413  [4628.92, 67.733]  [4629.03, 0.006]

Live trades Freq - ANY

In [10]:
watch_trades = await binance_live.watch_trades(perp)
watch_trades_df = pd.DataFrame(watch_trades, columns=['timestamp', 'price', 'amount', 'side'])
watch_trades_df["timestamp"] = pd.to_datetime(watch_trades_df["timestamp"], unit="ms")
watch_trades_df.head()

                timestamp   price  amount side
0 2025-09-14 14:08:43.962  4630.3   0.287  buy

Candle Data freq - Minute

In [11]:
watch_ohlcv = await binance_live.watch_ohlcv(perp)
watch_ohlcv_df = pd.DataFrame(watch_ohlcv, columns=['timestamp', 'open', 'high', 'low', 'close', 'volume'])
watch_ohlcv_df["timestamp"] = pd.to_datetime(watch_ohlcv_df["timestamp"], unit="ms")
watch_ohlcv_df

            timestamp     open     high      low   close    volume
0 2025-09-14 14:08:00  4619.39  4631.34  4617.99  4629.3  9271.181

In [12]:
watch_ohlcv

[[1757858880000, 4619.39, 4631.34, 4617.99, 4629.3, 9271.181]]